.ry-btn {
    width        : 80px;
    height       : 32px;
    background   : rgba(255, 255, 255, 1);
    border       : 1px solid rgba(221, 221, 221, 1);
    opacity      : 1;
    border-radius: 4px;
}