@btn-prefix-cls: ~"@{css-prefix}btn";

// btn-prefix-cls = ry-btn
.@{btn-prefix-cls} {
    .btn;
    .btn-default;

    &-long {
        width: 100%;
    }

    &-primary {
        .btn-primary;
    }

    &-dashed {
        .btn-dashed;
    }

    &-text {
        border: none;
    }

    &-ghost {
        .btn-ghost;
    }

    &-ghost&-primary {
        border             : 1px solid @primary-color;
        color              : @primary-color;
        // background-color: transparent;


        &:hover {
            // border-color: tint(@primary-color, 20%);
        }
    }

    &[disabled] {
        color           : #c5c8ce;
        background-color: #f7f7f7;
        border-color    : #dcdee2;
        cursor          : not-allowed;
    }

    // &-ghost&-dashed,
    // &-ghost&-default {
    //     border: 1px solid #fff;
    //     color : #fff;

    //     &:hover {
    //         color          : red;
    //         // border-color: tint(@primary-color, 20%);
    //     }
    // }



    &-ghost&-default[disabled],
    &-ghost&-dashed[disabled],
    &-ghost&-primary[disabled],
    &-ghost&-text[disabled] {
        background  : transparent;
        color       : fade(#000, 25%);
        border-color: @btn-disable-border;

    }

    &-ghost&-text[disabled] {
        background: transparent;
        color     : fade(#000, 25%);
    }
}