@font-face {
  font-family: "iconfont"; /* Project id 3538835 */
  src: url('iconfont.woff2?t=1677064883970') format('woff2'),
       url('iconfont.woff?t=1677064883970') format('woff'),
       url('iconfont.ttf?t=1677064883970') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.ry-icon-excel:before {
  content: "\e65e";
}

.ry-icon-jiangxu:before {
  content: "\e784";
}

.ry-icon-shengxu:before {
  content: "\e78a";
}

.ry-icon-moban:before {
  content: "\e63d";
}

.ry-icon-xinjian:before {
  content: "\e63e";
}

.ry-icon-xuanz:before {
  content: "\e63f";
}

.ry-icon-lieb:before {
  content: "\e640";
}

.ry-icon-tongb:before {
  content: "\e641";
}

.ry-icon-shux:before {
  content: "\e642";
}

.ry-icon-bingt:before {
  content: "\e643";
}

.ry-icon-tulie:before {
  content: "\e644";
}

.ry-icon-qust:before {
  content: "\e645";
}

.ry-icon-zhuzt:before {
  content: "\e646";
}

.ry-icon-ship:before {
  content: "\e647";
}

.ry-icon-tup:before {
  content: "\e648";
}

.ry-icon-shangch:before {
  content: "\e649";
}

.ry-icon-bili:before {
  content: "\e63c";
}

.ry-icon-huaban:before {
  content: "\e63a";
}

.ry-icon-more:before {
  content: "\e686";
}

.ry-icon-ellipsis:before {
  content: "\ae78b";
}

.ry-icon-jisu-delete:before {
  content: "\e68c";
}

.ry-icon-jisu-edit:before {
  content: "\e68d";
}

.ry-icon-sousuo:before {
  content: "\e66b";
}

.ry-icon-modal-close:before {
  content: "\e62e";
}

.ry-icon-suo:before {
  content: "\ff001";
}

.ry-icon-tuodong:before {
  content: "\ff002";
}

.ry-icon-text-delete:before {
  content: "\ff003";
}

.ry-icon-zhiding:before {
  content: "\ff004";
}

