@button: ~'@{css-prefix}button';
@button-normalized: ~'@{css-prefix}button-normalized';
@button-illustration: ~'@{css-prefix}button-illustra-dropdown';
@button-icon: ~'@{css-prefix}button-icon';

.@{button} {
  position: relative;
  display: inline-block;

  .ivu-icon {
    font-size: 12px !important;
  }

  // 角标
  &-recommend {
    position: absolute;
    top: 0;
    z-index: 1;
    display: inline-block;
  }
}

// 纯图标按钮
.@{button-icon} {
  display: flex;
  color: #575b65;
  cursor: pointer;
  background: #f3f3f4;
  border-radius: 4px;
  align-items: center;
  justify-content: center;

  &:hover,
  &-selected {
    color: #3989fa;
  }
}

// 插画按钮
.@{button-illustration} {
  min-width: 88px;

  &-wrap {
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }

  &-l {
    padding: 0;

    &>span {
      display: flex;
      align-items: center;
      height: 100%;
      overflow: hidden;
    }

    &-b {
      border-right: 0;
      border-radius: 4px 0 0 4px;
    }
  }

  &-r {
    border: 0;
    padding: 0;
    border-radius: 0 4px 4px 0;
    position: relative;
    margin-left: -1px;

    &-line {
      position: absolute;
      width: 1px;
      height: 18px;
      left: -.5px;
      top: 50%;
      transform: translateY(-50%);
      background-color: rgba(255, 255, 255, 0.31);
    }

    &-icon {
      width: 32px;
      height: 18px;
      line-height: 18px;
      text-align: center;
    }
  }

  &-l-c {
    width: 100%;
    height: 32px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &-l-i {
    width: 32px;
    height: 32px;
    object-fit: contain;
  }

  &-l-t {
    margin: 0 6px;
    line-height: 32px;
  }
}

// 常规按钮
.@{button-normalized} {
  height: 32px;
  min-width: 88px;
  padding: 0 16px;
  font-size: 12px;
  line-height: 32px;
  border-radius: 3px;

  // 蒙版移除
  &::before {
    display: none !important;
  }

  // 默认
  &.default {
    color: #3989fa;
    background: #fff;
    border: 1px solid #3989fa;

    // 划过
    &:hover {
      background: #ebf3fe;
    }

    // 加载中
    &.ivu-btn-loading,
    // 禁用
    &:disabled {
      color: #c0c4cc;
      background: #f7f7f7;
      border: 1px solid #ddd;

      .ivu-icon {
        color: #c0c4cc;
      }
    }
  }

  // 主要
  &.primary {
    color: #fff;
    background: #3989fa;
    border: 1px solid #3989fa;

    // 划过
    &:hover {
      background: #3989fa;
      opacity: 0.8;
    }

    // 加载中
    &.ivu-btn-loading,
    // 禁用
    &:disabled {
      background: #3989fa;
      border: 1px solid #3989fa;
      opacity: 0.5;

      .ivu-icon {
        color: #fff;
      }
    }
  }

  // 文本
  &.text {
    color: #3989fa;

    // 加载中
    &.ivu-btn-loading {
      color: rgba(57, 137, 250, 50%);
    }

    // 禁用
    &:disabled {
      color: #c0c4cc;
    }
  }

  // 辅助
  &.dashed {
    color: #151b39;
    background: #fff;
    border: 1px solid #ddd;

    // 划过
    &:hover {
      color: #3989fa;
      background: #fff;
      border: 1px solid #3989fa;
    }

    // 加载中
    &.ivu-btn-loading,
    // 禁用
    &:disabled {
      color: #c0c4cc;
      background: #f7f7f7;
      border: 1px solid #ddd;

      .ivu-icon {
        color: #c0c4cc;
      }
    }
  }
}