@image: ~"@{css-prefix}image";

.@{image} {
  position: relative;
  display: inline-block;

  &-img,
  &-error,
  &-placeholder,
  &-mark,
  &-inner {
    width: 100%;
    height: 100%;
  }

  &-inner {
    position: relative;
  }

  &-img {
    vertical-align: middle;
  }

  &-img-hidden {
    visibility: hidden;
  }

  &-error,
  &-placeholder,
  &-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 1;
    cursor: pointer;
    border-radius: 50%;
    transform: translate(-50%, -50%);
    transition: all 0.1s;

    img {
      width: 100%;
      height: 100%;
    }
  }

  &-inner:hover {
    .@{image} {
      &-mark {
        opacity: 1;
      }
    }
  }

  &-characteristic {
    position: absolute;
    bottom: 2px;
    left: 2px;
    z-index: 1;

    img {
      width: 20px;
    }
  }
}
