@image: ~"@{css-prefix}image";

.@{image} {
  position: relative;
  display: inline-block;

  &-img,
  &-error,
  &-placeholder,
  &-mark,
  &-inner {
    width: 100%;
    height: 100%;
  }

  &-inner {
    position: relative;
  }

  &-img {
    vertical-align: middle;
  }

  &-img-hidden {
    visibility: hidden;
  }

  &-tip,
  &-error,
  &-placeholder {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 1;
    display: flex;
    transform: translate(-50%, -50%);
    transition: all 0.1s;
    align-items: center;
    justify-content: center;
  }
  
  &-tip {
    cursor: pointer;
    border-radius: 50%;

    img {
      width: 100%;
      height: 100%;
    }
  }

  

  &-inner:hover {
    .@{image} {
      &-mark {
        opacity: 1;
      }
    }
  }

  &-placeholder {
    &-spin {
      animation: rdSpin 1s linear infinite;
    }
  }

  .ivu-spin-fix {
    background-color: transparent;
  }

  &-video-sign {
    position: absolute;
    bottom: 2px;
    left: 2px;
    z-index: 1;

    img {
      width: 20px;
    }
  }
}
