@material-group: ~"@{css-prefix}material-group";
@image: ~"@{css-prefix}image";
@padding-item : 2px;
.@{material-group} {
  overflow: hidden;
  background-color: #eef0f3ff;
  border: 1px solid #666;

  .@{image} {
    top: 50%;
    height: 100%;
    transform: translateY(-50%);
    transition: all 0.1s;
  }

  &-pic {
    position: relative;
    overflow: hidden;
    text-align: center;
    background-color: #fff;
  }

  &-flex {
    display: flex;
    flex-direction: row;
    flex-flow: row wrap;
    justify-content: center;
  }
      
  .pointer {
    cursor: pointer;
  }
      
  &-pic-1 {
    width: 100%;
    height: 100%;
  }
      
  &-pic-2 {
    height: 100%;
      
    &:nth-of-type(1) {
      width: calc(~'50% - 1px');
      margin-right: @padding-item;
      text-align: right;
    }
      
    &:nth-of-type(2) {
      width: calc(~'50% - 1px');
      text-align: left;
    }
  }
      
  &-pic-horizontal-3 {
    height: calc(~'(100% - 2px)/2');
      
    &:nth-of-type(1) {
      width: 100%;
      margin-bottom: @padding-item;
      text-align: center;
    }
      
    &:nth-of-type(2) {
      width: calc(~'(100% - 2px)/2');
      margin-right: @padding-item;
      text-align: right;
    }
      
    &:nth-of-type(3) {
      width: calc(~'(100% - 2px)/2');
      text-align: left;
    }
  }

  &-pic-vertical-3 {
    height: 100%;
      
    &:nth-of-type(1) {
      width: calc(~'(100% - 4px)/3');
      margin-right: @padding-item;
      text-align: right;
    }
      
    &:nth-of-type(2) {
      width: calc(~'(100% - 4px)/3');
      margin-right: @padding-item;
    }
      
    &:nth-of-type(3) {
      width: calc(~'(100% - 4px)/3');
      text-align: left;
    }
  }
      
  &-pic-4 {
    width: calc(~'(100% - 2px)/2');
    height: calc(~'(100% - 2px)/2');
      
    &:nth-of-type(1) {
      margin-right: @padding-item;
      margin-bottom: @padding-item;
      text-align: right;
    }
      
    &:nth-of-type(2) {
      margin-bottom: @padding-item;
      text-align: left;
    }
      
    &:nth-of-type(3) {
      margin-right: @padding-item;
      text-align: right;
    }

    &:nth-of-type(4) {
      text-align: left;
    }
  }

  &-pic-6 {
    width: calc(~'(100% - 4px) / 3');
    height: calc(~'50% - 2px');
      
    &:nth-of-type(1) {
      margin-right: @padding-item;
      margin-bottom: @padding-item;
      // text-align: right;
    }
      
    &:nth-of-type(2) {
      margin-right: @padding-item;
      margin-bottom: @padding-item;
    }
      
    &:nth-of-type(3) {
      margin-bottom: @padding-item;
      // text-align: left;
    }

    &:nth-of-type(4) {
      margin-right: @padding-item;
      // text-align: right;
    }

    &:nth-of-type(5) {
      margin-right: @padding-item;
    }

    &:nth-of-type(6) {
      // text-align: left;
    }
  }
}
