@prefix-page: ~"@{css-prefix}page";

.@{prefix-page} {
    position: relative;
    text-align: right;
    margin: 16px;

    &-default {
        min-width: 800px;

        .ivu-page-options-elevator {
            height: 32px !important;
            line-height: 32px !important;
        }

        input {
            height: 32px !important;
        }
    }

    &-m-large {
        min-width: 800px;
    }

    &-m-middle {
        min-width: 400px;
    }

    &-m-small {
        min-width: 300px;
    }

    .ivu-page-total {
        position: absolute;
        top: 0;
        left: 0;
    }

}