@prefix-page: ~"@{css-prefix}page";

.@{prefix-page} {
    position: relative;
    text-align: right;
    margin: 16px;
    min-width: 600px;

    .ivu-page-total {
        position: absolute;
        top: 0;
        left: 0;
    }

    // .ivu-page-prev ivu-page-disabled {
    //     line-height: 24px !important;
    // }

    // .ivu-page-item {
    //     height: 24px !important;
    //     vertical-align: baseline;
    //     line-height: 32px;
    // }

    input {
        height: 24px !important;
    }
}