@prefix-container: ~"@{css-prefix}prefix-container";

.@{prefix-container} {
  &-wrapper {
    display: flex;
    width: 100%;
    line-height: normal;
  }

  &-group {
    &-prepend {
      display: inline-block;
      height: 32px;
      padding: 0 10px;
      font-size: 12px;
      font-weight: 400;
      line-height: 32px;
      color: #151b39;
      text-align: center;
      white-space: nowrap;
      vertical-align: middle;
      background-color: @background-light-gray;
      border: 1px solid @border-color-base;
      border-radius: 4px;
      border-right: 0;
      border-bottom-right-radius: 0;
      border-top-right-radius: 0;

      // 内置 select
      .ivu-select {
        margin: -4px -10px 0;
      }

      .ivu-select-selection {
        margin: -1px;
        background-color: inherit;
        border: 1px solid transparent;
        box-shadow: none
      }

      // 内置 Button
      .ivu-btn {
        margin: -6px -8px 0 -10px;
        color: inherit;
        background-color: transparent;
        border-color: transparent;
        box-shadow: none
      }
    }

    &-append {
      display: inline-block;
      height: 32px;
      padding: 0 8px;
      font-size: 12px;
      font-weight: 400;
      line-height: 32px;
      color: #151b39;
      text-align: center;
      white-space: nowrap;
      vertical-align: middle;
      background-color: @background-light-gray;
      border: 1px solid @border-color-base;
      border-radius: 4px;
      border-left: 0;
      border-bottom-left-radius: 0;
      border-top-left-radius: 0;

      // 内置 select
      .ivu-select {
        margin: -4px -10px 0;
      }

      .ivu-select-selection {
        margin: -1px;
        background-color: inherit;
        border: 1px solid transparent;
        box-shadow: none
      }

      // 内置 Button
      .ivu-btn {
        margin: -6px -8px 0 -10px;
        color: inherit;
        background-color: transparent;
        border-color: transparent;
        box-shadow: none
      }
    }
  }

  &-body {
    &-prepend {
      .ivu-input-number,
      .ivu-select-selection,
      .ivu-input {
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
      }

      .rd-filter-list-input {
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
      }
    }

    &-append {
      .ivu-input-number,
      .ivu-select-selection,
      .ivu-input {
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
      }
    }
  }
}
