@table-columns: ~'@{css-prefix}table-columns';

.@{table-columns} {
  width: 750px;

  &-header {
    display: flex;
    height: 40px;
    padding-right: 6px;
    padding-left: 11px;
    font-size: 12px;
    font-weight: 600;
    line-height: 40px;
    color: #151b39;
    background-color: #f9f9f9;
    border-top: 1px solid #dcdee2;
    border-left: 1px solid #dcdee2;
    border-right: 1px solid #dcdee2;
    justify-content: space-between;
    align-items: center;

    >div {
      position: relative;
      width: 100%;
    }

    &-add-custom {
      position: absolute;
      top: 50%;
      right: 8px;
      margin-left: 10px;
      font-weight: normal;
      color: #3989fa;
      cursor: pointer;
      transform: translateY(-50%);
    }

    .ivu-input {
      height: 28px;
    }
  }

  &-keyword-class {
    padding: 14px 11px;
    border-top: 1px solid #e3e5e7;
    border-left: 1px solid #e3e5e7;
    border-right: 1px solid #e3e5e7;

    .ivu-input-icon {
      right: 11px;
    }
  }

  &-content {
    position: relative;
    display: flex;
    height: 380px;
    overflow-y: hidden;
  }

  &-nav-area-wrap {
    width: 200px;
    border-left: 1px solid #e3e5e7;
    border-bottom: 1px solid #e3e5e7;
    overflow-y: auto;
  }

  &-nav-area-list {
    padding-bottom: 5px;
    margin: 0 11px;
    margin-bottom: 20px;
    border-bottom: 1px solid #ddd;

    &::marker {
      content: '';
    }

    &-label,
    &-item {
      height: 32px;
      line-height: 32px;
    }

    &-label {
      padding-left: 9px;
      font-size: 14px;
      font-weight: 500;
      color: #000;
    }

    &-item {
      position: relative;
      padding: 0 9px;
      color: #151b39;
      cursor: pointer;
      border-radius: 4px;

      &:hover {
        color: #3989fa;
      }
    }

    &-item-checked {
      background: rgba(240, 246, 255, 100%);
      background-color: #f3f3f3;
    }
  }

  &-view {
    flex: 1;
    padding: 24px;
    border-right: 1px solid #dcdee2;
    border-left: 1px solid #dcdee2;
    border-bottom: 1px solid #dcdee2;
    overflow-y: auto;

    div:last-child {
      .rd-table-columns-view-list:last-child {
        padding-bottom: 0;
        margin-bottom: 0;
        border-bottom: 0;
      }
    }

    &-list {
      // margin-bottom: 24px;

      .ivu-checkbox {
        margin-right: 4px;
        border-radius: 3px;
      }

      &-checked-all {
        height: 32px;
        padding: 0 8px;
        margin-bottom: 10px;
        font-weight: 600;
        line-height: 32px;
        color: #151b39;
        background-color: #f4f5f9;
        border: 1px solid #efefef;
        border-radius: 4px;
      }

      &-content {
        display: flex;
        flex-wrap: wrap;

        &-item {
          display: flex;
          width: 240px;
          min-height: 32px;
          padding-left: 10px;
          font-size: 12px;
          color: #151b39;
          align-items: center;

          &-title {
            display: -webkit-box;
            padding-right: 3px;
            padding-left: 5px;
            overflow: hidden;
            text-overflow: ellipsis;
            word-break: break-all;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 2;
          }

          .ivu-checkbox-inner {
            width: 14px;
            height: 14px;
          }

          .ivu-checkbox {
            display: flex;
            margin-right: 5px;
            align-items: center;
          }
        }
      }
    }
  }
  // 没有检索到数据
  &-not-data {
    display: flex;
    width: 100%;
    height: 100%;
    color: #c5c8ce;
    align-items: center;
    justify-content: center;
  }

  &-hide {
    display: none !important;
  }
}
