@text-emoj-input: ~"@{css-prefix}text-emoj-input";
.@{text-emoj-input} {
  display         : inline-block;
  width           : 300px;
  min-height      : 35px;
  background-color: #edf1f5;
  font-size       : 0;
  padding         : 2px 10px 2px 10px;
  vertical-align  : middle;
  &-single-line {
    overflow   : hidden;
    height     : 35px !important;
    white-space: nowrap;
  }
  &-rich {
    font-size       : 12px;
    background-color: transparent;
    border          : 0;
    outline         : none;
    line-height     : 35px;
  }
}