// 辅助类
// 滚动条
.small-scroll-y {
  &::-webkit-scrollbar {
    width: 4px;
    height: 0;
  }
  &::-webkit-scrollbar-track {
    background: transparent;
    border-radius: 0;
  }

  &::-webkit-scrollbar-thumb {
    background: @scrollbar-bg;
    border-radius: 2px;
  }
  &::-webkit-scrollbar-thumb:hover {
    background-color: @scrollbar-hover-bg;
  }
}

.text-overflow {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.pull-left {
  float: left;
}

.pull-right {
  float: right;
}

// 显示隐藏
.hide {
  display: none;
}
.show {
  display: block ;
}

// Alignment
.text-left {
  text-align: left;
}
.text-right {
  text-align: right;
}
.text-center {
  text-align: center;
}
.text-justify {
  text-align: justify;
}
.text-nowrap {
  white-space: nowrap;
}
