@delete-modals: ~"@{css-prefix}delete-modals";
.@{delete-modals} {
    &-modal-content {
      position  : relative;
      text-align: center;
    
    
      &-close {
        position: absolute;
        top     : -8px;
        right   : -8px;
        cursor  : pointer;
        img {
          width: 12px;
          height: 12px;
        }
      }
    
      &-icon {
        width : 80px;
        height: 80px;
        margin: 0 auto;
        font-size: 0;
        img {
            width : 80px;
            height: 80px;
        }
      }
      &-content {
        color     : #333333;
        font-size : 14px;
        line-height: 24px;
      }
    }
    &-center-modal{
        display: flex;
        align-items: center;
        justify-content: center;
        .ivu-modal{
            top: 0;
        }
        .ivu-modal-body {
          padding: 24px;
        }
        .ivu-modal-footer {
          padding: 0 24px 24px;
          font-size: 0;
          text-align: center;
          border-top: 0;
          .ivu-btn {
            width: 104px;
            font-size: 12px;
            border-radius: 3px;
            height: 32px;
          }
          .ivu-btn-text {
            border-color: #DCDEE2;
            color: #151B39;
          }
          .ivu-btn-primary {
            background: #3A88FA;
          }
        }
    }
}
  