@delete-modals: ~"@{css-prefix}delete-modals";
.@{delete-modals} {
    width: 100%;
    &-modal-content {
      position  : relative;
      text-align: center;
      width: 100%;
      padding: 8px 8px 0 8px;
      &-close {
        position: absolute;
        top     : 0px;
        right   : 0px;
        cursor  : pointer;
        img {
          width: 12px;
          height: 12px;
        }
      }
    
      &-icon {
        width : 80px;
        height: 80px;
        margin: 0 auto;
        font-size: 0;
        img {
            width : 80px;
            height: 80px;
        }
      }
      &-content {
        color     : #333333;
        font-size : 14px;
        line-height: 24px;
      }
    }
    &-center-modal{
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

// .ivu-modal-footer,
// .ivu-modal-confirm-footer {
//   padding: 0 8px 8px;
//   font-size: 0;
//   text-align: center;
//   border-top: 0;
//   .ivu-btn {
//     width: 104px;
//     height: 32px;
//     font-size: 12px;
//     border-radius: 3px;
//   }
//   .ivu-btn-text {
//     color: #151b39;
//     border-color: #dcdee2;
//   }
//   .ivu-btn-primary {
//     background: #3a88fa;
//   }
// }