@filter-list: ~"@{css-prefix}filter-list";
@filter-list-input: ~"@{css-prefix}filter-list-input";
@filter-list-panel: ~"@{css-prefix}filter-list-panel";
@filter-list-option: ~"@{css-prefix}filter-list-option";

.@{filter-list} {
  &-body {
    display: flex;
    // min-width: 380px;

    &-panel {
      border-right: 1px solid #eee;

      &-search {
        border-bottom: 1px solid #eee;

        .ivu-input {
          height: 40px;
          border: none;
          outline: 0;
          box-shadow: none;
        }

        .ivu-input-prefix i,
        .ivu-input-suffix i {
          line-height: 40px;
        }

        &-clear {
          cursor: pointer;
        }
      }
    }

    &-not-found {
      line-height: 32px;
      color: #c5c8ce;
      text-align: center;
    }
  }
}
.@{filter-list-input} {
  &:hover .ivu-input {
    border-color: @selected-color;
  }
    

  &-body {
    display: flex;
    padding: 0 24px 0 10px;
    line-height: 32px;
    cursor: pointer;
  }
   

  &-label {
    padding-right: 5px;
  }

  &-content {
    padding-right: 8px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    flex: 1;
  }

  .ivu-input-prefix {
    width: 100%;
    text-align: left;
  }

  &-placeholder {
    overflow: hidden;
    color: #b1b1b1;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}
.@{filter-list-panel} {
  .ivu-select-dropdown {
    padding: 0
  }
}
.@{filter-list-option} {
  &-header {
    height: 40px;
    padding: 0 10px;
    line-height: 40px;
    background: #f9f9f9;

    &-title {
      float: left;
    }

    &-operate {
      float: right;
      color: @selected-color;
      cursor: pointer;
    }
  }

  &-body {
    overflow-y: auto;

    &-item {
      display: flex;
      padding: 7px 10px;
      text-align: left;
      transition: background @transition-time @ease-in-out;

      &:hover {
        background: #f3f3f3;
      }

      p {
        flex: 1;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
    }

    &-clear {
      cursor: pointer;
    }
  }
}
