@form-select-indicator: ~"@{css-prefix}form-select-indicator";

.@{form-select-indicator} {

  &-data-filtering {
    display: flex;
    margin-top: 16px;
    margin-bottom: 20px;
    align-items: center;

    &-text {
      margin-left: 8px;
    }
  }

  &-content {
    display: flex;
    align-items: center;
    margin-bottom: 16px;
    margin-right: 10px;

    .rd-filter-list-input {
      padding: 0 4px 0 10px;
      border: none;

      .ivu-icon {
        font-size: 14px !important;
      }
    }
    .rd-form-indicator {
      display: block;
      border: none;

      .ivu-dropdown {
        display: block;
      }
    }
  }

  &-icon-delete {
    cursor: pointer;
    display: none;
    margin-left: 10px;
  }

  &-form {
    border: 1px solid #ddd;
    border-radius: 3px;
    display: flex;
    align-items: center;

    &:hover {
      border-color: @selected-color;
    }
    &-line {
      height: 16px;
      margin-right: 6px;
      border-right: 1px solid #E8E8E8;
    }
  }

  &:hover {
    .rd-form-select-indicator-icon-delete {
      color: #3989FA;
      display: inline-block;
    }
  }

  &-add-line {
    font-size: 12px;
    color: #3989FA;
    line-height: 16px;
    cursor: pointer;
  }

  &-index-is-union {
    margin-top: 16px;
    display: flex;
    align-items: center;
  }
}
