@layout-module-config: ~'@{css-prefix}layout-module-config';

.@{layout-module-config} {
  display: grid;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  box-shadow: 0px 4px 8px 0px rgba(21, 27, 57, 0.08);
  border-radius: 4px;
  border: 1px solid #e0e0e8;
  overflow-x: auto;

  &-row {
    height: 100%;
  }

  &-row-line {
    position: relative;
    margin-right: 1px;

    &::after {
      display: block;
      content: '';
      position: absolute;
      top: 0;
      right: -1px;
      width: 0;
      height: 100%;
      border-right: 1px solid #e0e0e8;
    }
  }

  &-col {
    width: 100%;
  }

  &-col-line {
    position: relative;
    margin-bottom: 1px;

    &::after {
      display: block;
      content: '';
      position: absolute;
      left: 0;
      bottom: -1px;
      height: 0;
      width: 100%;
      border-bottom: 1px solid #e0e0e8;
    }
  }
}
