@submission-rule: ~'@{css-prefix}submission-rule';

.@{submission-rule} {
  .ivu-form-item-label {
    color: #151b39;
  }

  &-rule-group .ivu-radio-group-item {
    width       : 104px;
    height      : 32px;
    border-color: 1px solid #dddddd;

    &.ivu-radio-wrapper-checked:first-child {
      border-color: #2d8cf0;
    }

    &:first-child {
      border-left  : 1px solid #dddddd;
      border-radius: 3px 0 0 3px;
    }

    &:last-child {
      border-radius: 0 3px 3px 0;
    }
  }

  &-setting {
    display        : flex;
    justify-content: flex-start;
    align-items    : center;

    &-icon {
      color: #575b56;
    }

    .ivu-form-item-content {
      display        : flex;
      justify-content: flex-start;
      align-items    : center;
      margin-left    : 0 !important;
    }
  }

  &-setting-item {
    display        : flex;
    justify-content: flex-start;
    align-items    : center;
    margin-right   : 10px;
  }

  &-date-picker {
    width: 200px;

    .ivu-input {
      border-radius: 3px;
    }
  }

  &-interval-select {
    width      : 96px;
    margin-left: -2px;

    .ivu-select-selection {
      border       : 1px solid #dddddd;
      border-radius: 0 3px 3px 0;
    }
  }

  &-explain {
    width        : 76px;
    height       : 32px;
    line-height  : 32px;
    text-align   : center;
    background   : #ffffff;
    border       : 1px solid #dddddd;
    border-right : 0;
    color        : #999999;
    font-size    : 14px;
    border-radius: 3px 0 0 3px;
  }

  &-adnum,
  &-repeat-times {
    width        : 96px;
    border       : 1px solid #dddddd;
    border-radius: 0 3px 3px 0;
  }
}