.example {
    padding      : 20px;
    border       : 1px solid #eee;
    border-radius: 6px;
    margin-bottom: 20px;
    position     : relative;
    transition   : all .2s ease-in-out;

    h4 {
        margin-bottom: 10px;
    }
}