// 单行省略
.rd-overflow-ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
}

// 双行省略
.rd-line-clamp-two {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  word-break: break-all;
  word-wrap: break-word;
}

// 滚动条样式
.rd-mini-scroll-y {
  &::-webkit-scrollbar {
    width: 4px;
    height: 0;
  }

  &::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 8%);
    border-radius: 0;
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 25%);
  }

  &::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 8%);
    border-radius: 10px;
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 25%);
  }
}

.rd-line-clamp {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  word-break: break-all;
  word-wrap: break-word;
}
